<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>xyz.cdpath.macvim</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>09BFD680-036B-463F-A4B1-422F7A874C1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC2C7EAE-8984-432E-BD1C-4C6E495B4E6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3CEDE0FD-7296-4D05-9B7D-6DE2C62E5334</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09BFD680-036B-463F-A4B1-422F7A874C1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>885AED7A-6269-4993-9D2F-07C7C331E016</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0013B0E-0699-4D08-9FBB-A692B67543F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C77D87F6-7C9B-45D8-B284-9A50CD4904DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3CEDE0FD-7296-4D05-9B7D-6DE2C62E5334</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0013B0E-0699-4D08-9FBB-A692B67543F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C77D87F6-7C9B-45D8-B284-9A50CD4904DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>cdpath</string>
	<key>description</key>
	<string>Edit clipboard content with MacVim</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Edit in Vim</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>DC2C7EAE-8984-432E-BD1C-4C6E495B4E6F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<true/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>{var:tmpdir}/AlfredClipboardContent.txt</string>
				<key>filetext</key>
				<string>{clipboard}</string>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>D0013B0E-0699-4D08-9FBB-A692B67543F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>run.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>09BFD680-036B-463F-A4B1-422F7A874C1B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/mvim -f $filename</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3CEDE0FD-7296-4D05-9B7D-6DE2C62E5334</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pbedit</string>
				<key>subtext</key>
				<string>Edit clipboard with MacVim</string>
				<key>text</key>
				<string>edit clipboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>885AED7A-6269-4993-9D2F-07C7C331E016</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>filename</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C77D87F6-7C9B-45D8-B284-9A50CD4904DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># setup `tmpdir` is where this workflow holds the tempfile you edit upon, `echo $TMPDIR` to get tmpdir value.


# Acknowledge
icon https://iconverticons.com/icons/92d8febce1d7a304/</string>
	<key>uidata</key>
	<dict>
		<key>09BFD680-036B-463F-A4B1-422F7A874C1B</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>3CEDE0FD-7296-4D05-9B7D-6DE2C62E5334</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>885AED7A-6269-4993-9D2F-07C7C331E016</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>C77D87F6-7C9B-45D8-B284-9A50CD4904DB</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>D0013B0E-0699-4D08-9FBB-A692B67543F5</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>DC2C7EAE-8984-432E-BD1C-4C6E495B4E6F</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>tmpdir</key>
		<string>/var/folders/c2/ph3z4gss2qx31412xmm9kgr40000gn/T/</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>tmpdir</string>
	</array>
	<key>version</key>
	<string>0.0.2</string>
	<key>webaddress</key>
	<string>cdpath.xyz</string>
</dict>
</plist>
