<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>blog.jingyi.fb</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1B545DD0-F51E-4871-9B4D-993B42310E1F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3EE3AD15-DF39-42D2-B612-16950A71B957</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3EE3AD15-DF39-42D2-B612-16950A71B957</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DC5D541-F260-4AC0-860E-90C35BD4E378</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4172F6CD-CD6B-42D3-9AB4-19C2976EEB19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBD76A3F-B465-46FE-B865-53F7000575EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C4349B6B-3A7E-425A-9FEB-9572B6ADF16B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CEA1D016-F1E0-439B-A7C1-5CF710315248</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CEA1D016-F1E0-439B-A7C1-5CF710315248</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22CCBFAE-1AAC-42DC-A962-7D394C3FADCB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FAD49E60-14C3-4D8A-B36E-9DAE2389C449</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CEA1D016-F1E0-439B-A7C1-5CF710315248</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>jingyi</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Extra Fallback Searches</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>x-devonthink://search?query={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CBD76A3F-B465-46FE-B865-53F7000575EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>DT Search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>4172F6CD-CD6B-42D3-9AB4-19C2976EEB19</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>Obsidian Search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>1B545DD0-F51E-4871-9B4D-993B42310E1F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>ObjC.import('stdlib');
console.log('Running script - fallback search')

// get the current app to access the standard additions
app = Application.currentApplication();
app.includeStandardAdditions = true;

// var v = $.getenv('OBSIDIAN_VAULT_NAME');
var v = $.getenv('obsidian_vault');
var query = $.getenv('query');

console.log("query is" + query)

// construct uri
uri = "obsidian://search?vault=" + encodeURIComponent(v) + "&amp;query=" + encodeURIComponent(query);

// search in vault
app.openLocation(uri);
console.log(uri);</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4DC5D541-F260-4AC0-860E-90C35BD4E378</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>query</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3EE3AD15-DF39-42D2-B612-16950A71B957</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>Calibre Search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>FAD49E60-14C3-4D8A-B36E-9DAE2389C449</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>calibre://search/{var:calibre_library}?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>22CCBFAE-1AAC-42DC-A962-7D394C3FADCB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>CEA1D016-F1E0-439B-A7C1-5CF710315248</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>calibre</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C4349B6B-3A7E-425A-9FEB-9572B6ADF16B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Add several Fallback searches for Alfred.

Type ?fallback in Alfred to setup.</string>
	<key>uidata</key>
	<dict>
		<key>1B545DD0-F51E-4871-9B4D-993B42310E1F</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>22CCBFAE-1AAC-42DC-A962-7D394C3FADCB</key>
		<dict>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>3EE3AD15-DF39-42D2-B612-16950A71B957</key>
		<dict>
			<key>note</key>
			<string>{var:query}</string>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>4172F6CD-CD6B-42D3-9AB4-19C2976EEB19</key>
		<dict>
			<key>note</key>
			<string>Search in DEVONthink</string>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>4DC5D541-F260-4AC0-860E-90C35BD4E378</key>
		<dict>
			<key>note</key>
			<string>Open search pane in Obsidian vault.</string>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>C4349B6B-3A7E-425A-9FEB-9572B6ADF16B</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>CBD76A3F-B465-46FE-B865-53F7000575EF</key>
		<dict>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>CEA1D016-F1E0-439B-A7C1-5CF710315248</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>FAD49E60-14C3-4D8A-B36E-9DAE2389C449</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Calibre Library</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Calibre Library Name</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>calibre_library</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>DEVONthink Database Name</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>devonthink_db</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Obsidian Vault Name</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>obsidian_vault</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>DT_DATABASE_NAME</key>
		<string></string>
		<key>OBSIDIAN_VAULT_NAME</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>DT_DATABASE_NAME</string>
		<string>OBSIDIAN_VAULT_NAME</string>
	</array>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string>https://jingyi.blog</string>
</dict>
</plist>
