<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>xyz.cdpath.dark</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>264A09D9-DE34-403A-9524-C67F6525811D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D4B5F6A6-C49E-436C-BF10-6B9819311A2C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>cdpath</string>
	<key>description</key>
	<string>Dark Theme</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dark</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "System Events"    tell appearance preferences      set dark mode to not dark mode    end tell  end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>D4B5F6A6-C49E-436C-BF10-6B9819311A2C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dark</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enable/Disable dark theme</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>264A09D9-DE34-403A-9524-C67F6525811D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>credit: https://www.reddit.com/r/mac/comments/8oztql/how_to_quickly_switch_between_light_and_dark_mode/</string>
	<key>uidata</key>
	<dict>
		<key>264A09D9-DE34-403A-9524-C67F6525811D</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>D4B5F6A6-C49E-436C-BF10-6B9819311A2C</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>cdpath.xyz</string>
</dict>
</plist>
